/*??*/
.skin_202_thum {background:url(/templets/default/img/skin/bg_202_thum.jpg) no-repeat;}
.skin_202 {background:url(/templets/default/img/skin/bg_202_body.jpg) repeat;}
.skin_202 .wrap1 {background:url(/templets/default/img/skin/bg_202_wrap1.jpg) repeat-x top left;}
.skin_202 .wrap2 {background:url(/templets/default/img/skin/bg_202_wrap2.jpg) no-repeat top center;}